<div class="banner">
    <h2>Flight Details</h2>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="whiteBg shadow p15">
                    <div class="flightname">
                        <h4 class="fliname">{{dplace}} <span><i class="fa fa-long-arrow-right"></i></span> {{arvPlace}}
                            <span>|</span> 20-Sep-2021
                        </h4>
                    </div>
                    <div class="fdlsContent">
                        <div class="row">
                            <div class="col-md-12">
                                <div>
                                    <img [src]="flightImg" alt="" /> <span><strong> {{flightName}}
                                            {{flightNo}}</strong></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="spft">
                                    <h5>Departure</h5>
                                    <div><strong>{{dplace}}</strong></div>
                                    <div><small><strong>{{currentDate | date:'medium'}}</strong></small></div>
                                    <div> <small><span class="red">Delhi Indira Gandhi Inti Terminal 3</span></small>
                                    </div>
                                    <div>
                                        <small>
                                            <span><i class="fa fa-shopping-bag"></i> 0kg</span>
                                            <span>&nbsp;&nbsp;</span>
                                            <span><i class="fa fa-briefcase"></i> 15kg</span>
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 text-center">
                                <div>
                                    <small class="red">
                                        <strong>{{differentdate}}h {{diMinutes}}m</strong>
                                    </small>
                                </div>
                                <div style="font-size: 22px;"><i class="fa fa-long-arrow-right"></i></div>
                                <div>
                                    <small><strong>0 Stop</strong></small>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div>
                                    <h5>Arrive</h5>
                                    <div><strong>{{arvPlace}}</strong></div>
                                    <div><small><strong>{{arrivalData | date: 'medium'}}</strong></small></div>
                                    <div> <small><span class="red">Subhash Chandra Bose Terminal 2</span></small></div>

                                </div>
                            </div>
                        </div>
                    </div>
                
                 
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="whiteBg shadow p15">
                    <div class="btft">Fare breakup</div>
                    <div><small>Include all taxes, (Subject to airline fare rules)</small></div>
                    <div>Passengers</div>
                    <div class="btft">Adult :1</div>
                    <div>
                        <table class="table">
                            <tr>
                                <td>Base Fare</td>
                                <td align="right">₹ {{priceValue}}.00</td>
                            </tr>
                            <tr>
                                <td>Tax </td>
                                <td align="right">₹ 729.00</td>
                            </tr>
                            <tr>
                                <td>Additional Charge </td>
                                <td align="right">₹ 59.00</td>
                            </tr>
                            <tr class="red btft btop">
                                <td>Total </td>
                                <td align="right">₹ {{priceValue + 729 + 59}}.00</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <button class="bookNow" (click)="goToAddPassenger()">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>