<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <div class="row">
                <div class="col-md-3">
                    <span class="logo" routerLink="/">
                        <i style="font-size:40px" class="fas fa fa-truck"></i>
                        <strong>FlipKart</strong>
                       </span>
                </div>
                <div class="col-md-6">
                    <div class="form-group" style="margin: 0;">
                        <input type="text" placeholder="Search ..." class="form-control" [(ngModel)]="searchTerm"
                        (keyup)="searchProduct($event)">
                        <span class="search-icon"><i class="fa fa-search"></i></span>
                    </div>
                  
                </div>
                <div class="col-md-3">
                    <div class="text-right">
                        <div class="shoppingbtn" routerLink="cart">
                            <button><i class="fa fa-shopping-cart"></i></button>
                            <span class="cuntNum" *ngIf="totalCartItem != 0">{{totalCartItem}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</header>