<div class="pageDashboard">
    <div class="sidebar-main" id="sidebar" [ngClass]="collages ? 'menuClges' : 'menuexplanded'">
        <div class="sidebar-content" [ngClass]="collages ? 'menuClges' : 'menuexplanded'">
            <div class="logo">
                <img src="../../../../assets/images/udan.png" alt="" />
            </div>
            <div>
                <mat-selection-list [multiple]="false" class="exNav">
                    <mat-list-option *ngFor="let item of typesOfNav">
                        <a matLine href="{{item.link}}"><span><i class="fa {{item.icon}}"></i></span>&nbsp;{{ item.name }}</a>
                    </mat-list-option>
                  </mat-selection-list>
                  
            </div>
        </div>
    </div>

    <div class="contentCollages" [ngClass]="collages ? 'collages' : 'explanded'">
        <div class="nav_menu">
            <div class="nav_cnt">
                <mat-grid-list [cols]="2" rowHeight="40px">
                    <mat-grid-tile>
                        <div class="nav-toggle" (click)="clickEvent()">
                            <a href="javascript:void(0)" mat-button>
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <div class="dlex">
                            <ul class="text-right">
                                <li>
                                    <a href="javascript:void(0)" mat-button [matMenuTriggerFor]="menu2">
                                        <i class="fa fa-envelope-o"></i>
        
                                        <span>0</span>
                                    </a>
                                    <mat-menu #menu2="matMenu">
                                        <button mat-menu-item>Item 3</button>
                                    </mat-menu>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" mat-button [matMenuTriggerFor]="menu">
                                        <i class="fa fa-user"></i>
                                    </a>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item>Item 1</button>
                                        <button mat-menu-item>Item 2</button>
                                    </mat-menu>
                                </li>
                               
                            </ul>
                        </div>
                    </mat-grid-tile>
                </mat-grid-list>
        
            </div>
        </div>
        <div class="dashboardBxCnt">
            <router-outlet></router-outlet>
        </div>
       
    </div> 
</div>





