.card{
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-top: -20px;
    padding: 20px 0;
    .proCont {
        display: inline-block;
        border-right: 1px dotted #ddd;
        &:last-child{
            border: none;
        }
        .items{
            padding: 0 15px;
            img{
                width: 100px;
            }
        }
        h4{
            font-weight: 700;
        }
    }
}

.prodctitems{
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    img{
        max-width: 100%;
        height: 250px;
    }
    .limitText{
        overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   max-width: 35ch;
    }
  
}