<div class="banner">
    <h2>Add Passenger</h2>
</div>
<div class="content">
    <div class="container">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div class="row">
            <div class="col-md-9 col-lg-9">
                <div class="whiteBg shadow p15">
                  
                    <div>     
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field class="example-form-field whiteBg" appearance="fill">
                                    <mat-label>First Name</mat-label>
                                    <input matInput type="text"  name="fname" [(ngModel)]="model.fname"
                                    #fname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fname.invalid }" required>
                                    <div *ngIf="f.submitted && fname.invalid" class="invalid-feedback">
                                        <div *ngIf="fname.errors.required">First Name is required</div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput type="text" name="lname" [(ngModel)]="model.lname"
                                    #lname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && lname.invalid }" required>
                                    <div *ngIf="f.submitted && lname.invalid" class="invalid-feedback">
                                        <div *ngIf="lname.errors.required">Last Name is required</div>
                                    </div>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-form-field" appearance="fill">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput type="text" name="phone" [(ngModel)]="model.phone"
                                    #phone="ngModel" [pattern]="mobNumberPattern"
                                    [ngClass]="{'is-invalid': f.submitted && phone.invalid}" required>
                                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                        <div *ngIf="phone.errors.required">
                                            Phone Number is required
                                        </div>
                                        <div *ngIf="phone.errors.pattern">
                                            Invalid Number
                                        </div>
                                    </div>
                                </mat-form-field>
                            </div>
                        </div>              
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="radio-with-Icon">
                                        <p class="radioOption-Item">
                                            <input type="checkbox" name="wheelchair" id="BannerType1"
                                                ngModel value="wheelchair"
                                                class="ng-valid ng-dirty ng-touched ng-empty" aria-invalid="false">
                                            <label for="BannerType1">
                                                <i class="fa fa-wheelchair-alt"></i>
                                            </label>
                                        </p>

                                        <p class="radioOption-Item">
                                            <input type="checkbox" name="child" id="BannerType2" ngModel
                                                value="child" class="ng-valid ng-dirty ng-touched ng-empty"
                                                aria-invalid="false">
                                            <label for="BannerType2">
                                                <i class="fa fa-child"></i>
                                            </label>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field appearance="fill">
                                        <mat-label>Passenger Class</mat-label>
                                        <mat-select [(ngModel)]="model.passClass" name="passClass"
                                         #passClass="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passClass.invalid }" required>
                                            <mat-option [value]="item.id" *ngFor="let item of passengerList">
                                            {{item.name}}</mat-option>
                                            
                                        </mat-select>
                                        <div *ngIf="f.submitted && passClass.invalid" class="invalid-feedback">
                                            <div *ngIf="passClass.errors.required">Passenger Class is required</div>
                                        </div>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-form-field" appearance="fill">
                                        <mat-label>Passport</mat-label>
                                        <input matInput type="text" name="passport" [(ngModel)]="model.passport"
                                        #passport="ngModel" [ngClass]="{ 'is-invalid': f.submitted && passport.invalid }" required>
                                        <div *ngIf="f.submitted && passport.invalid" class="invalid-feedback">
                                            <div *ngIf="passport.errors.required">Passport is required</div>
                                        </div>
                                    </mat-form-field>
                                </div>
                            </div>
                           
                    </div>

                    <hr />
                    <div>
                        <cdk-accordion class="example-accordion">
                            <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item"
                                role="button" tabindex="0" [attr.aria-expanded]="accordionItem.expanded">
                                <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
                                    <strong><span><i class="fa fa-cutlery"></i>&nbsp;&nbsp;</span>Add hot and delicious
                                        meals to your trip. (Optional)</strong>
                                    <span class="example-accordion-item-description">
                                        <i class="fa fa-angle-down" *ngIf="!accordionItem.expanded"></i>
                                        <i class="fa fa-angle-up" *ngIf="accordionItem.expanded"></i>
                                    </span>
                                </div>
                                <div class="example-accordion-item-body" role="region"
                                    [style.display]="accordionItem.expanded ? '' : 'none'">

                                    <div>
                                        <!-- <form [formGroup]="FoodForm" (ngSubmit)="onSubmit()"> -->
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Vegetable Meals</mat-label>
                                                        <mat-select ngModel name="vegMeal" (change)="selectVegName()">
                                                            <mat-option [value]="item.id"
                                                                *ngFor="let item of VegetableFood">
                                                                {{item.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Non Vegetable Meals</mat-label>
                                                        <mat-select ngModel name="nonVegMeal">
                                                            <mat-option [value]="item.id"
                                                                *ngFor="let item of NonVegatableFood">
                                                                {{item.name}}
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                </div>
                                            </div>

                                           
                                        <!-- </form> -->
                                    </div>

                                </div>
                            </cdk-accordion-item>

                            <cdk-accordion-item #accordionItem2="cdkAccordionItem" class="example-accordion-item"
                                role="button" tabindex="1" [attr.aria-expanded]="accordionItem2.expanded">
                                <div class="example-accordion-item-header" (click)="accordionItem2.toggle()">
                                    <strong><span><img src="../../../assets/images/seat.png" alt="" /></span>Select Seat
                                        (Optional) </strong>
                                    <span class="example-accordion-item-description">
                                        <i class="fa fa-angle-down" *ngIf="!accordionItem2.expanded"></i>
                                        <i class="fa fa-angle-up" *ngIf="accordionItem2.expanded"></i>
                                    </span>
                                </div>
                                <div class="example-accordion-item-body" role="region"
                                    [style.display]="accordionItem2.expanded ? '' : 'none'">

                                    <div>
                                        <div class="plane">
                                            <div class="cockpit">
                                                <h1>Please select a seat</h1>
                                            </div>
                                            <div class="exit exit--front fuselage">

                                            </div>
                                            <ol class="cabin fuselage">
                                                <li>
                                                    <ol class="seats" type="A">
                                                        <li class="seat" *ngFor="let item of SeatList; let index=i">
                                                            <input type="checkbox" ngModel id="{{item.id}}" name="{{item.id}}" value="{{item.Seat}}"
                                                            (change)="onChange($event)" [disabled]="isChecked && (isCheckedName != item.Seat)" />
                                                            <label for="{{item.id}}">{{item.Seat}}</label>
                                                        </li>
                                                    </ol>
                                                </li>
                                               
                                            </ol>
                                            <div class="exit exit--back fuselage"></div>
                                        </div>
                                    </div>
                                </div>
                            </cdk-accordion-item>
                        </cdk-accordion>
                    </div>
                  
                </div>
            </div>
            <div class="col-md-3 col-lg-3">
                <div class="whiteBg shadow p15">
                    <div class="btft">Fare breakup</div>
                    <div><small>Include all taxes, (Subject to airline fare rules)</small></div>
                    <div>Passengers</div>
                    <div class="btft">Adult :1</div>
                    <div>
                        <table class="table">
                            <tr>
                                <td>Base Fare</td>
                                <td align="right">₹ {{priceValue}}.00</td>
                            </tr>
                            <tr>
                                <td>Tax </td>
                                <td align="right">₹ 729.00</td>
                            </tr>
                            <tr>
                                <td>Additional Charge </td>
                                <td align="right">₹ 59.00</td>
                            </tr>
                            <tr class="red btft btop">
                                <td>Total </td>
                                <td align="right">₹ {{priceValue + 729 + 59}}.00</td>
                            </tr>
                        </table>
                    </div>
                    <div>
                        <button class="bookNow">Continue</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    </div>
</div>