h1, h2, h3, h4, h5, h6{margin: 0; padding:0;}
.banner{
    background-color: #6177ee;
    padding: 20px;
    color: #fff;
    text-align: center;

    h2{
        font-size: 30px;
        text-transform: uppercase;
        margin: 0;
    }
}
.content{
    margin: 15px 0;
}
.shadow{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%);
}
.p15{
    padding: 15px;
}
.whiteBg{
    background-color: #fff;
    .spft{
        padding-left: 35px;
    }
    h5 {
        background: #1d35af87;
        color: #fff;
        text-transform: uppercase;
        padding: 2px 10px;
        margin: 8px 0;
    }
}
.fliname{
    font-weight: 700;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.red{color: #f02;}
.btop{
    border-top: 1px solid #f02;
}

.btft{
    font-weight: 700;
}
.example-accordion {
    display: block;
  }
  .mat-form-field {
    width: 100%;
}
.p-10{
  padding-top: 25px;
  text-align: right;
}
  
  .example-accordion-item {
    display: block;
    border: solid 1px #ccc;
  }
  
  .example-accordion-item + .example-accordion-item {
    border-top: none;
  }
  
  .example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
  
  .example-accordion-item-description {
    font-size: 0.85em;
    color: #999;

    i{
      color: #222;
      font-size: 22px;
    }
  }
  .addnew{
    background-color: #fff;
    border: 1px solid #3c4dbf;
    padding: 3px 10px;
    color: #4955ad;
    border-radius: 5px;
    font-size: 13px;
    margin: 5px 0;
  }
  .addmember{
    padding-top: 15px;
  }
  
  .example-accordion-item-header,
  .example-accordion-item-body {
    padding: 16px;
  }
  
  .example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
  }
  
  .example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  
  div.radio-with-Icon {
    display: block;
  }
  div.radio-with-Icon p.radioOption-Item {
    display: inline-block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 0px 15px;
    border: none;
    position: relative;
  }
  div.radio-with-Icon p.radioOption-Item label {
    display: block;
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #de1831;
    color: #de1831;
    cursor: pointer;
    opacity: .8;
    transition: none;
    font-size: 13px;
    text-align: center;
    margin: 0 !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
  }
  div.radio-with-Icon p.radioOption-Item label:hover, div.radio-with-Icon p.radioOption-Item label:focus, div.radio-with-Icon p.radioOption-Item label:active {
    opacity: .5;
    background-color: #de1831;
    color: #fff;
    margin: 0 !important;
  }
  div.radio-with-Icon p.radioOption-Item label::after, div.radio-with-Icon p.radioOption-Item label:after, div.radio-with-Icon p.radioOption-Item label::before, div.radio-with-Icon p.radioOption-Item label:before {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
  }
  div.radio-with-Icon p.radioOption-Item label i.fa {
    display: block;
    font-size: 30px;
  }
  div.radio-with-Icon p.radioOption-Item input[type="checkbox"] {
    opacity: 0 !important;
    width: 0 !important;
    height: 0 !important;
  }
  div.radio-with-Icon p.radioOption-Item input[type="checkbox"]:active ~ label {
    opacity: 1;
  }
  div.radio-with-Icon p.radioOption-Item input[type="checkbox"]:checked ~ label {
    opacity: 1;
    border: none;
    background-color: #de1831;
    color: #fff;
  }
  div.radio-with-Icon p.radioOption-Item input[type="checkbox"]:hover, div.radio-with-Icon p.radioOption-Item input[type="checkbox"]:focus, div.radio-with-Icon p.radioOption-Item input[type="checkbox"]:active {
    margin: 0 !important;
  }
  div.radio-with-Icon p.radioOption-Item input[type="checkbox"] + label:before, div.radio-with-Icon p.radioOption-Item input[type="checkbox"] + label:after {
    margin: 0 !important;
  }

  // plane seat management
  .plane {
    margin: 20px auto;
    max-width: 300px;
  }
  
  .cockpit {
    height: 250px; 
    position: relative;
    overflow: hidden;
    text-align: center;
    border-bottom: 5px solid #d8d8d8;
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      height: 500px;
      width: 100%;
      border-radius: 50%;
      border-right: 5px solid #d8d8d8;
      border-left: 5px solid #d8d8d8;
    }
    h1 {
      width: 60%;
      margin: 100px auto 35px auto;
    }
  }
  
  .exit {
    position: relative;
    height: 50px;
    &:before,
    &:after {
      content: "EXIT";
      font-size: 14px;
      line-height: 18px;
      padding: 0px 2px;
      font-family: "Arial Narrow", Arial, sans-serif;
      display: block;
      position: absolute;
      background: green;
      color: white;
      top: 50%;
      transform: translate(0, -50%);
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
  
  .fuselage {
    border-right: 5px solid #d8d8d8;
    border-left: 5px solid #d8d8d8;
  }
  
  ol {
    list-style :none;
    padding: 0;
    margin: 0;
  }
  
  .row {
    
  }
  
  .seats {
    display: inline-block;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;  
  }
  
  .seat {
    display: inline-block;
    width: 14%;
    padding: 5px;
    position: relative; 
    vertical-align: top; 
    &:nth-child(3), &:nth-child(9),  &:nth-child(15),  &:nth-child(21),  &:nth-child(27),  &:nth-child(33),  &:nth-child(39), &:nth-child(45), &:nth-child(51), &:nth-child(57) {
      margin-right: 14.28571428571429%;
    }
    input[type=checkbox] {
      position: absolute;
      opacity: 0;
    }
    input[type=checkbox]:checked {
      + label {
        background: #bada55;      
        -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
        animation-duration: 300ms;
        animation-fill-mode: both;
      }
    }
    input[type=checkbox]:disabled {
      + label {
        background: #dddddd;
        text-indent: -9999px;
        overflow: hidden;
        &:after {
          content: "X";
          text-indent: 0;
          position: absolute;
          top: 4px;
          left: 50%;
          transform: translate(-50%, 0%);
        }
        &:hover {
          box-shadow: none;
          cursor: not-allowed;
        }
      }
    }
    label {    
      display: block;
      position: relative;    
      width: 100%;    
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      line-height: 1.5rem;
      padding: 4px 0;
      background: #F42536;
      border-radius: 5px;
      animation-duration: 300ms;
      animation-fill-mode: both;
      
      &:before {
        content: "";
        position: absolute;
        width: 75%;
        height: 75%;
        top: 1px;
        left: 50%;
        transform: translate(-50%, 0%);
        background: rgba(255,255,255,.4);
        border-radius: 3px;
      }
      &:hover {
        cursor: pointer;
        box-shadow: 0 0 0px 2px #5C6AFF;
      }
      
    }
  }
  
  @-webkit-keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
  }

  // plane seat management
  .bookNow {
    background-color: #f02;
    border: none;
    padding: 5px 0;
    display: block;
    text-align: center;
    color: #fff;
    width: 100%;
    border-radius: 20px;
    text-transform: uppercase;
}

